version: '3.8'

volumes:
  pg_data_production:
  static_volume:

services:
  db:
    image: postgres:13.10
    env_file: .env
    volumes:
      - pg_data_production:/var/lib/postgresql/data
    restart: always

  backend:
    image: illusorycode/taski_backend:latest
    env_file: .env
    volumes:
      - static_volume:/backend_static
    depends_on:
      - db
    restart: always

  frontend:
    image: illusorycode/taski_frontend:latest
    env_file: .env
    volumes:
      - static_volume:/frontend_static
    command: cp -r /app/build/. /frontend_static/
    depends_on:
      - backend

  gateway:
    image: illusorycode/taski_gateway:latest
    volumes:
      - static_volume:/staticfiles/
    ports:
      - 8000:80
    depends_on:
      - backend
      - frontend

